:root{
  --clr-prime: #e9e904;
  --clr-second: #00D0CC;
  --clr-third: #82C13B;
  --clr-dark: #1b1b1b;
  --clr-light: #d3d3d3;

  --border-design: 1px solid var(--clr-second);
  
  --font-title: Lynstone, serif;
  --font-text: Roboto, sans-serif;
}


*{
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--clr-prime);
}

body{
  margin: 0;
  background-color: var(--clr-dark);
  font-family: var(--font-title);
  color: var(--clr-light); 
}

main{
  padding: 12px;
}

main h1 {
  text-align: center;
  color: var(--clr-prime)
}

.game-container{

  @media all and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}


#box-wrapper{
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto 0;
  max-width: 400px;
  width: 100%;
  border: var(--border-design);
  
  @media all and (min-width: 768px) {
    margin: 0;
  }
}

#box-wrapper button{
  all: unset;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  transition: all 200ms;
  user-select: none;
  
  color: var(--clr-prime);
  width: calc(100%/3);
  aspect-ratio: 1/1;

  flex-grow: 1;
  border: var(--border-design);

  /* center effect */
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 64px;
  font-family: var(--font-text);
}

#box-wrapper button:hover{
  background-color: var(--clr-second);
  color: var(--clr-dark);
}


#box-wrapper button:disabled:hover{
  cursor: not-allowed;
  background-color: var(--clr-dark);
  color: var(--clr-prime)
}


#menu{
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;

  @media all and (max-width: 480px) {
    flex-direction: column;
  }
}


.btn-menu{
  display: block;
  padding: 8px 20px;
  font-size: large;
  border-radius: 1rem;
  background-color: var(--clr-third);
  cursor: pointer;
  font-weight: bold;
  transition: all 200ms;
  width: 50%;


  @media all and (max-width: 480px) {
    font-size: medium;
    width: 100%;
  }
  
  @media all and (max-width: 300px) {
    font-size: small;
  }
}

.btn-menu:disabled:hover{
  cursor: not-allowed;
  background-color: var(--clr-third);
}

.btn-menu:hover {
  background-color: var(--clr-prime);
}

#scoreboard table {
  border-color: var(--clr-third);
  margin: auto;
  width: 100%;
  max-width: 400px;
}

#scoreboard td{
  font-family: var(--font-title);
  color: var(--clr-second);
}

#scoreboard th{
  font-family: var(--font-text);
  color: var(--clr-prime);
}

#scoreboard th, #scoreboard td{
  font-size: x-large;
  padding: 8px 20px;
  user-select: none;

  @media all and (max-width: 480px) {
    font-size: medium;
  }
}

#countdown{
  /* display: none; */

}